<h1><%= @event.title %></h1>

<p><%= @event.date %></p>
<p><%= @event.location %></p>

<p>Event created by <%= @event.creator %></p>

<p><a href="<%= edit_event_path %>" class="btn btn-primary">Edit my event</a></p>

<p><a href="<%= @event %>" class="btn btn-danger" data-confirm="Sure about this?" data-method="DELETE">Delete my event</a></p>

<p><a href="<%= root_path %>" class="btn btn-default">Back To Home</a></p>
